In [1]:
#판다스 모듈 임포트
import pandas as pd

In [2]:
#csv 리딩 용량 확대
import sys
import csv
maxInt = sys.maxsize

while True:
    # decrease the maxInt value by factor 10 
    # as long as the OverflowError occurs.

    try:
        csv.field_size_limit(maxInt)
        break
    except OverflowError:
        maxInt = int(maxInt/10)

In [3]:
#n-gram만 붙은 채권리포트 csv 읽기
df_bond = pd.read_csv('bondReport_ngram.csv', encoding='utf-8')

In [15]:
#콜금리 읽기
df_call=pd.read_excel('call_yes.xlsx', encoding='utf-8')

In [16]:
df_call

           date  price up_down
0    2005-01-01   3.29      상승
1    2005-01-02   3.29      상승
2    2005-01-03   3.27      상승
3    2005-01-04   3.27      상승
4    2005-01-05   3.28      상승
5    2005-01-06   3.21      하락
6    2005-01-07   3.22      상승
7    2005-01-08   3.22      하락
8    2005-01-09   3.22      하락
9    2005-01-10   3.27      하락
10   2005-01-11   3.28       0
11   2005-01-12   3.27      하락
12   2005-01-13   3.28       0
13   2005-01-14   3.26      하락
14   2005-01-15   3.26      하락
15   2005-01-16   3.26      하락
16   2005-01-17   3.25      하락
17   2005-01-18   3.25      하락
18   2005-01-19   3.25      하락
19   2005-01-20   3.23      하락
20   2005-01-21   3.19      하락
21   2005-01-22   3.19       0
22   2005-01-23   3.19      하락
23   2005-01-24   3.25      하락
24   2005-01-25   3.25      하락
25   2005-01-26   3.26      하락
26   2005-01-27   3.24      하락
27   2005-01-28   3.25      하락
28   2005-01-29   3.25      하락
29   2005-01-30   3.25      하락
...         ...    ...     ...
5283 2019-06-20   1.75      하락
5284 2019-06-21   1.74      상승
5285 2019-06-22   1.74      상승
5286 2019-06-23   1.74       0
5287 2019-06-24   1.75      상승
5288 2019-06-25   1.75      상승
5289 2019-06-26   1.76      상승
5290 2019-06-27   1.77      상승
5291 2019-06-28   1.83      상승
5292 2019-06-29   1.83      상승
5293 2019-06-30   1.83      상승
5294 2019-07-01   1.75      하락
5295 2019-07-02   1.73      하락
5296 2019-07-03   1.73      하락
5297 2019-07-04   1.73      하락
5298 2019-07-05   1.73       0
5299 2019-07-06   1.73       0
5300 2019-07-07   1.73      하락
5301 2019-07-08   1.73      하락
5302 2019-07-09   1.69      하락
5303 2019-07-10   1.74      하락
5304 2019-07-11   1.75       0
5305 2019-07-12   1.74      하락
5306 2019-07-13   1.74      하락
5307 2019-07-14   1.74       0
5308 2019-07-15   1.73      하락
5309 2019-07-16   1.72      하락
5310 2019-07-17   1.72      하락
5311 2019-07-18   1.50      하락
5312 2019-07-19   1.49      하락

[5313 rows x 3 columns]

In [5]:
#콜금리의 'date' 칼럼 값들 속성 변경. 채권리포트와 병합하기 위함
df_call['date']=pd.to_datetime(df_call['date'])
# df_call=df_call.set_index('date')

In [6]:
#콜금리 내림차순. 채권리포트와 순서 맞추기 위함
df_call=df_call.sort_values(['date'], ascending=[False])
df_call=df_call.reset_index(drop=True)

In [7]:
#채권리포트에서 날짜와 n-gram 칼럼만 추출
df_bngram=df_bond.loc[:,['날짜','n-gram']]

In [8]:
#채권리포트의 '날짜' 칼럼 값들 속성 변경. 콜금리와 병합하기 위함
df_bngram['날짜']=pd.to_datetime(df_bngram['날짜'])
df_bngram.rename(columns={'날짜':'date'},inplace=True) #'날짜' 칼럼 명을 콜금리와 통일

In [9]:
#콜금리와 병합
df_bngram=df_bngram.merge(df_call, on='date',how='left')

In [10]:
#UpDown이 0인 값과 n-gram이 nan인 값 제거
idx = 0
while True:
    try:
        if df_bngram.loc[idx]['up_down'] == 0:
            df_bngram=df_bngram.drop([idx])
        idx+=1
    except:
        break
        
df_bngram=df_bngram.dropna()

In [14]:
df_bngram[df_bngram['up_down']==0]

Empty DataFrame
Columns: [date, n-gram, price, up_down]
Index: []

In [ ]:
#인덱스 초기화 및 불필요한 칼럼 제거('price')
df_bngram = df_bngram.reset_index(drop=True)
df_bngram = df_bngram.drop('price',axis=1)

In [ ]:
#데이터 프레임 확인
df_bngram

In [ ]:
#csv 쓰기
df_bngram.to_csv('bond_Labeling.csv',  encoding='utf-8', index=False)