In [1]:
import requests
from bs4 import BeautifulSoup

url='https://finance.naver.com/marketindex/interestDailyQuote.nhn?marketindexCd=IRR_CALL'

# 54페이지부터 시작
#total=[]

date_list=[]
num_list=[]
all_dict={}

for page in range(55,517):
    params={
        'page':page
    }
    resp=requests.get(url,params=params)    
    soup=BeautifulSoup(resp.content,'html.parser')

    # 그 페이지에 있는 날짜 저장.
    
    all_date=soup.find_all(class_='date')
    for d in range(len(all_date)):
        date_list.append(all_date[d].text.strip())
    #    print(all_date[d].text.strip())
    
    # 종가 찾아서 저장하기.
    all_num=soup.find_all(class_='num')
    for n in range(len(all_num)):
        if n%3==0:
            num_list.append(all_num[n].text.strip())
            #print(all_num[n].text.strip())
    

    for j in range(len(date_list)):
        all_dict[date_list[j]]=num_list[j]    
#     print(all_dict)
       
        #if page%50==0:
         #   print(page)
    #total.append(all_dict)

In [3]:
all_dict

{'2018.01.04': '1.48',
 '2018.01.03': '1.50',
 '2018.01.02': '1.52',
 '2017.12.29': '1.58',
 '2017.12.28': '1.55',
 '2017.12.27': '1.51',
 '2017.12.26': '1.52',
 '2017.12.22': '1.51',
 '2017.12.21': '1.53',
 '2017.12.20': '1.51',
 '2017.12.19': '1.50',
 '2017.12.18': '1.50',
 '2017.12.15': '1.51',
 '2017.12.14': '1.50',
 '2017.12.13': '1.50',
 '2017.12.12': '1.51',
 '2017.12.11': '1.52',
 '2017.12.08': '1.52',
 '2017.12.07': '1.49',
 '2017.12.06': '1.48',
 '2017.12.05': '1.47',
 '2017.12.04': '1.48',
 '2017.12.01': '1.48',
 '2017.11.30': '1.53',
 '2017.11.29': '1.26',
 '2017.11.28': '1.26',
 '2017.11.27': '1.26',
 '2017.11.24': '1.25',
 '2017.11.23': '1.25',
 '2017.11.22': '1.24',
 '2017.11.21': '1.25',
 '2017.11.20': '1.25',
 '2017.11.17': '1.24',
 '2017.11.16': '1.24',
 '2017.11.15': '1.24',
 '2017.11.14': '1.24',
 '2017.11.13': '1.25',
 '2017.11.10': '1.24',
 '2017.11.09': '1.24',
 '2017.11.08': '1.23',
 '2017.11.07': '1.25',
 '2017.11.06': '1.23',
 '2017.11.03': '1.24',
 '2017.11.02': '1.24',
 '2017.11.01': '1.24',
 '2017.10.31': '1.26',
 '2017.10.30': '1.23',
 '2017.10.27': '1.24',
 '2017.10.26': '1.25',
 '2017.10.25': '1.24',
 '2017.10.24': '1.24',
 '2017.10.23': '1.24',
 '2017.10.20': '1.24',
 '2017.10.19': '1.24',
 '2017.10.18': '1.24',
 '2017.10.17': '1.24',
 '2017.10.16': '1.25',
 '2017.10.13': '1.25',
 '2017.10.12': '1.25',
 '2017.10.11': '1.24',
 '2017.10.10': '1.26',
 '2017.09.29': '1.27',
 '2017.09.28': '1.26',
 '2017.09.27': '1.26',
 '2017.09.26': '1.25',
 '2017.09.25': '1.26',
 '2017.09.22': '1.25',
 '2017.09.21': '1.25',
 '2017.09.20': '1.25',
 '2017.09.19': '1.24',
 '2017.09.18': '1.25',
 '2017.09.15': '1.25',
 '2017.09.14': '1.26',
 '2017.09.13': '1.26',
 '2017.09.12': '1.26',
 '2017.09.11': '1.25',
 '2017.09.08': '1.25',
 '2017.09.07': '1.25',
 '2017.09.06': '1.24',
 '2017.09.05': '1.24',
 '2017.09.04': '1.25',
 '2017.09.01': '1.26',
 '2017.08.31': '1.27',
 '2017.08.30': '1.25',
 '2017.08.29': '1.25',
 '2017.08.28': '1.25',
 '2017.08.25': '1.24',
 '2017.08.24': '1.24',
 '2017.08.23': '1.23',
 '2017.08.22': '1.23',
 '2017.08.21': '1.23',
 '2017.08.18': '1.23',
 '2017.08.17': '1.22',
 '2017.08.16': '1.21',
 '2017.08.14': '1.21',
 '2017.08.11': '1.23',
 '2017.08.10': '1.23',
 '2017.08.09': '1.23',
 '2017.08.08': '1.18',
 '2017.08.07': '1.20',
 '2017.08.04': '1.22',
 '2017.08.03': '1.22',
 '2017.08.02': '1.21',
 '2017.08.01': '1.23',
 '2017.07.31': '1.24',
 '2017.07.28': '1.23',
 '2017.07.27': '1.24',
 '2017.07.26': '1.24',
 '2017.07.25': '1.24',
 '2017.07.24': '1.24',
 '2017.07.21': '1.24',
 '2017.07.20': '1.23',
 '2017.07.19': '1.23',
 '2017.07.18': '1.23',
 '2017.07.17': '1.23',
 '2017.07.14': '1.24',
 '2017.07.13': '1.24',
 '2017.07.12': '1.24',
 '2017.07.11': '1.24',
 '2017.07.10': '1.24',
 '2017.07.07': '1.24',
 '2017.07.06': '1.23',
 '2017.07.05': '1.22',
 '2017.07.04': '1.23',
 '2017.07.03': '1.26',
 '2017.06.30': '1.29',
 '2017.06.29': '1.27',
 '2017.06.28': '1.25',
 '2017.06.27': '1.25',
 '2017.06.26': '1.25',
 '2017.06.23': '1.24',
 '2017.06.22': '1.23',
 '2017.06.21': '1.23',
 '2017.06.20': '1.23',
 '2017.06.19': '1.23',
 '2017.06.16': '1.23',
 '2017.06.15': '1.23',
 '2017.06.14': '1.23',
 '2017.06.13': '1.23',
 '2017.06.12': '1.23',
 '2017.06.09': '1.23',
 '2017.06.08': '1.24',
 '2017.06.07': '1.23',
 '2017.06.05': '1.24',
 '2017.06.02': '1.22',
 '2017.06.01': '1.25',
 '2017.05.31': '1.26',
 '2017.05.30': '1.24',
 '2017.05.29': '1.23',
 '2017.05.26': '1.23',
 '2017.05.25': '1.22',
 '2017.05.24': '1.23',
 '2017.05.23': '1.23',
 '2017.05.22': '1.23',
 '2017.05.19': '1.23',
 '2017.05.18': '1.23',
 '2017.05.17': '1.23',
 '2017.05.16': '1.23',
 '2017.05.15': '1.23',
 '2017.05.12': '1.23',
 '2017.05.11': '1.23',
 '2017.05.10': '1.23',
 '2017.05.08': '1.23',
 '2017.05.04': '1.22',
 '2017.05.02': '1.22',
 '2017.04.28': '1.21',
 '2017.04.27': '1.17',
 '2017.04.26': '1.22',
 '2017.04.25': '1.23',
 '2017.04.24': '1.24',
 '2017.04.21': '1.24',
 '2017.04.20': '1.24',
 '2017.04.19': '1.23',
 '2017.04.18': '1.23',
 '2017.04.17': '1.23',
 '2017.04.14': '1.23',
 '2017.04.13': '1.23',
 '2017.04.12': '1.23',
 '2017.04.11': '1.23',
 '2017.04.10': '1.23',
 '2017.04.07': '1.23',
 '2017.04.06': '1.23',
 '2017.04.05': '1.23',
 '2017.04.04': '1.23',
 '2017.04.03': '1.25',
 '2017.03.31': '1.27',
 '2017.03.30': '1.25',
 '2017.03.29': '1.24',
 '2017.03.28': '1.22',
 '2017.03.27': '1.23',
 '2017.03.24': '1.22',
 '2017.03.23': '1.23',
 '2017.03.22': '1.22',
 '2017.03.21': '1.22',
 '2017.03.20': '1.22',
 '2017.03.17': '1.20',
 '2017.03.16': '1.22',
 '2017.03.15': '1.23',
 '2017.03.14': '1.23',
 '2017.03.13': '1.23',
 '2017.03.10': '1.24',
 '2017.03.09': '1.24',
 '2017.03.08': '1.23',
 '2017.03.07': '1.18',
 '2017.03.06': '1.20',
 '2017.03.03': '1.23',
 '2017.03.02': '1.24',
 '2017.02.28': '1.26',
 '2017.02.27': '1.24',
 '2017.02.24': '1.24',
 '2017.02.23': '1.24',
 '2017.02.22': '1.24',
 '2017.02.21': '1.23',
 '2017.02.20': '1.23',
 '2017.02.17': '1.23',
 '2017.02.16': '1.22',
 '2017.02.15': '1.23',
 '2017.02.14': '1.23',
 '2017.02.13': '1.23',
 '2017.02.10': '1.23',
 '2017.02.09': '1.23',
 '2017.02.08': '1.22',
 '2017.02.07': '1.21',
 '2017.02.06': '1.22',
 '2017.02.03': '1.23',
 '2017.02.02': '1.23',
 '2017.02.01': '1.23',
 '2017.01.31': '1.25',
 '2017.01.26': '1.26',
 '2017.01.25': '1.25',
 '2017.01.24': '1.25',
 '2017.01.23': '1.24',
 '2017.01.20': '1.24',
 '2017.01.19': '1.24',
 '2017.01.18': '1.23',
 '2017.01.17': '1.23',
 '2017.01.16': '1.24',
 '2017.01.13': '1.24',
 '2017.01.12': '1.23',
 '2017.01.11': '1.24',
 '2017.01.10': '1.25',
 '2017.01.09': '1.24',
 '2017.01.06': '1.24',
 '2017.01.05': '1.24',
 '2017.01.04': '1.24',
 '2017.01.03': '1.24',
 '2017.01.02': '1.26',
 '2016.12.30': '1.27',
 '2016.12.29': '1.24',
 '2016.12.28': '1.23',
 '2016.12.27': '1.24',
 '2016.12.26': '1.24',
 '2016.12.23': '1.24',
 '2016.12.22': '1.23',
 '2016.12.21': '1.22',
 '2016.12.20': '1.20',
 '2016.12.19': '1.23',
 '2016.12.16': '1.20',
 '2016.12.15': '1.22',
 '2016.12.14': '1.22',
 '2016.12.13': '1.22',
 '2016.12.12': '1.23',
 '2016.12.09': '1.23',
 '2016.12.08': '1.23',
 '2016.12.07': '1.23',
 '2016.12.06': '1.23',
 '2016.12.05': '1.20',
 '2016.12.02': '1.16',
 '2016.12.01': '1.21',
 '2016.11.30': '1.23',
 '2016.11.29': '1.20',
 '2016.11.28': '1.19',
 '2016.11.25': '1.22',
 '2016.11.24': '1.23',
 '2016.11.23': '1.23',
 '2016.11.22': '1.23',
 '2016.11.21': '1.19',
 '2016.11.18': '1.23',
 '2016.11.17': '1.24',
 '2016.11.16': '1.24',
 '2016.11.15': '1.24',
 '2016.11.14': '1.24',
 '2016.11.11': '1.23',
 '2016.11.10': '1.23',
 '2016.11.09': '1.24',
 '2016.11.08': '1.24',
 '2016.11.07': '1.24',
 '2016.11.04': '1.24',
 '2016.11.03': '1.22',
 '2016.11.02': '1.22',
 '2016.11.01': '1.22',
 '2016.10.31': '1.24',
 '2016.10.28': '1.18',
 '2016.10.27': '1.23',
 '2016.10.26': '1.23',
 '2016.10.25': '1.23',
 '2016.10.24': '1.24',
 '2016.10.21': '1.24',
 '2016.10.20': '1.23',
 '2016.10.19': '1.23',
 '2016.10.18': '1.23',
 '2016.10.17': '1.24',
 '2016.10.14': '1.24',
 '2016.10.13': '1.23',
 '2016.10.12': '1.24',
 '2016.10.11': '1.24',
 '2016.10.10': '1.23',
 '2016.10.07': '1.23',
 '2016.10.06': '1.24',
 '2016.10.05': '1.24',
 '2016.10.04': '1.25',
 '2016.09.30': '1.26',
 '2016.09.29': '1.25',
 '2016.09.28': '1.25',
 '2016.09.27': '1.24',
 '2016.09.26': '1.24',
 '2016.09.23': '1.24',
 '2016.09.22': '1.24',
 '2016.09.21': '1.24',
 '2016.09.20': '1.24',
 '2016.09.19': '1.24',
 '2016.09.13': '1.24',
 '2016.09.12': '1.24',
 '2016.09.09': '1.25',
 '2016.09.08': '1.25',
 '2016.09.07': '1.23',
 '2016.09.06': '1.24',
 '2016.09.05': '1.22',
 '2016.09.02': '1.23',
 '2016.09.01': '1.24',
 '2016.08.31': '1.25',
 '2016.08.30': '1.24',
 '2016.08.29': '1.24',
 '2016.08.26': '1.24',
 '2016.08.25': '1.24',
 '2016.08.24': '1.24',
 '2016.08.23': '1.23',
 '2016.08.22': '1.23',
 '2016.08.19': '1.23',
 '2016.08.18': '1.23',
 '2016.08.17': '1.23',
 '2016.08.16': '1.23',
 '2016.08.12': '1.23',
 '2016.08.11': '1.23',
 '2016.08.10': '1.23',
 '2016.08.09': '1.23',
 '2016.08.08': '1.23',
 '2016.08.05': '1.23',
 '2016.08.04': '1.23',
 '2016.08.03': '1.23',
 '2016.08.02': '1.23',
 '2016.08.01': '1.23',
 '2016.07.29': '1.24',
 '2016.07.28': '1.22',
 '2016.07.27': '1.21',
 '2016.07.26': '1.23',
 '2016.07.25': '1.23',
 '2016.07.22': '1.23',
 '2016.07.21': '1.23',
 '2016.07.20': '1.23',
 '2016.07.19': '1.23',
 '2016.07.18': '1.23',
 '2016.07.15': '1.23',
 '2016.07.14': '1.23',
 '2016.07.13': '1.23',
 '2016.07.12': '1.23',
 '2016.07.11': '1.23',
 '2016.07.08': '1.23',
 '2016.07.07': '1.23',
 '2016.07.06': '1.23',
 '2016.07.05': '1.23',
 '2016.07.04': '1.20',
 '2016.07.01': '1.20',
 '2016.06.30': '1.23',
 '2016.06.29': '1.22',
 '2016.06.28': '1.22',
 '2016.06.27': '1.24',
 '2016.06.24': '1.24',
 '2016.06.23': '1.24',
 '2016.06.22': '1.24',
 '2016.06.21': '1.24',
 '2016.06.20': '1.24',
 '2016.06.17': '1.24',
 '2016.06.16': '1.24',
 '2016.06.15': '1.24',
 '2016.06.14': '1.24',
 '2016.06.13': '1.24',
 '2016.06.10': '1.24',
 '2016.06.09': '1.24',
 '2016.06.08': '1.48',
 '2016.06.07': '1.49',
 '2016.06.03': '1.47',
 '2016.06.02': '1.49',
 '2016.06.01': '1.48',
 '2016.05.31': '1.48',
 '2016.05.30': '1.48',
 '2016.05.27': '1.48',
 '2016.05.26': '1.49',
 '2016.05.25': '1.49',
 '2016.05.24': '1.49',
 '2016.05.23': '1.49',
 '2016.05.20': '1.49',
 '2016.05.19': '1.49',
 '2016.05.18': '1.49',
 '2016.05.17': '1.49',
 '2016.05.16': '1.49',
 '2016.05.13': '1.49',
 '2016.05.12': '1.49',
 '2016.05.11': '1.54',
 '2016.05.10': '1.50',
 '2016.05.09': '1.48',
 '2016.05.03': '1.48',
 '2016.05.02': '1.48',
 '2016.04.29': '1.50',
 '2016.04.28': '1.48',
 '2016.04.27': '1.48',
 '2016.04.26': '1.49',
 '2016.04.25': '1.49',
 '2016.04.22': '1.48',
 '2016.04.21': '1.48',
 '2016.04.20': '1.49',
 '2016.04.19': '1.48',
 '2016.04.18': '1.49',
 '2016.04.15': '1.48',
 '2016.04.14': '1.49',
 '2016.04.12': '1.48',
 '2016.04.11': '1.48',
 '2016.04.08': '1.48',
 '2016.04.07': '1.48',
 '2016.04.06': '1.48',
 '2016.04.05': '1.49',
 '2016.04.04': '1.46',
 '2016.04.01': '1.50',
 '2016.03.31': '1.53',
 '2016.03.30': '1.51',
 '2016.03.29': '1.49',
 '2016.03.28': '1.49',
 '2016.03.25': '1.49',
 '2016.03.24': '1.49',
 '2016.03.23': '1.49',
 '2016.03.22': '1.49',
 '2016.03.21': '1.49',
 '2016.03.18': '1.49',
 '2016.03.17': '1.48',
 '2016.03.16': '1.48',
 '2016.03.15': '1.48',
 '2016.03.14': '1.48',
 '2016.03.11': '1.48',
 '2016.03.10': '1.50',
 '2016.03.09': '1.48',
 '2016.03.08': '1.49',
 '2016.03.07': '1.49',
 '2016.03.04': '1.49',
 '2016.03.03': '1.49',
 '2016.03.02': '1.50',
 '2016.02.29': '1.52',
 '2016.02.26': '1.50',
 '2016.02.25': '1.49',
 '2016.02.24': '1.49',
 '2016.02.23': '1.49',
 '2016.02.22': '1.48',
 '2016.02.19': '1.47',
 '2016.02.18': '1.48',
 '2016.02.17': '1.48',
 '2016.02.16': '1.47',
 '2016.02.15': '1.48',
 '2016.02.12': '1.48',
 '2016.02.11': '1.49',
 '2016.02.05': '1.47',
 '2016.02.04': '1.51',
 '2016.02.03': '1.49',
 '2016.02.02': '1.49',
 '2016.02.01': '1.49',
 '2016.01.29': '1.50',
 '2016.01.28': '1.48',
 '2016.01.27': '1.48',
 '2016.01.26': '1.48',
 '2016.01.25': '1.48',
 '2016.01.22': '1.48',
 '2016.01.21': '1.49',
 '2016.01.20': '1.49',
 '2016.01.19': '1.48',
 '2016.01.18': '1.50',
 '2016.01.15': '1.50',
 '2016.01.14': '1.49',
 '2016.01.13': '1.50',
 '2016.01.12': '1.50',
 '2016.01.11': '1.49',
 '2016.01.08': '1.49',
 '2016.01.07': '1.49',
 '2016.01.06': '1.49',
 '2016.01.05': '1.49',
 '2016.01.04': '1.48',
 '2015.12.31': '1.52',
 '2015.12.30': '1.49',
 '2015.12.29': '1.49',
 '2015.12.28': '1.49',
 '2015.12.24': '1.49',
 '2015.12.23': '1.49',
 '2015.12.22': '1.48',
 '2015.12.21': '1.48',
 '2015.12.18': '1.48',
 '2015.12.17': '1.46',
 '2015.12.16': '1.46',
 '2015.12.15': '1.46',
 '2015.12.14': '1.48',
 '2015.12.11': '1.48',
 '2015.12.10': '1.48',
 '2015.12.09': '1.46',
 '2015.12.08': '1.46',
 '2015.12.07': '1.44',
 '2015.12.04': '1.40',
 '2015.12.03': '1.45',
 '2015.12.02': '1.44',
 '2015.12.01': '1.48',
 '2015.11.30': '1.50',
 '2015.11.27': '1.49',
 '2015.11.26': '1.49',
 '2015.11.25': '1.50',
 '2015.11.24': '1.49',
 '2015.11.23': '1.49',
 '2015.11.20': '1.49',
 '2015.11.19': '1.49',
 '2015.11.18': '1.49',
 '2015.11.17': '1.49',
 '2015.11.16': '1.49',
 '2015.11.13': '1.49',
 '2015.11.12': '1.50',
 '2015.11.11': '1.49',
 '2015.11.10': '1.49',
 '2015.11.09': '1.50',
 '2015.11.06': '1.49',
 '2015.11.05': '1.49',
 '2015.11.04': '1.50',
 '2015.11.03': '1.50',
 '2015.11.02': '1.50',
 '2015.10.30': '1.50',
 '2015.10.29': '1.48',
 '2015.10.28': '1.48',
 '2015.10.27': '1.48',
 '2015.10.26': '1.48',
 '2015.10.23': '1.49',
 '2015.10.22': '1.49',
 '2015.10.21': '1.49',
 '2015.10.20': '1.49',
 '2015.10.19': '1.49',
 '2015.10.16': '1.49',
 '2015.10.15': '1.48',
 '2015.10.14': '1.48',
 '2015.10.13': '1.48',
 '2015.10.12': '1.48',
 '2015.10.08': '1.48',
 '2015.10.07': '1.49',
 '2015.10.06': '1.50',
 '2015.10.05': '1.47',
 '2015.10.02': '1.46',
 '2015.10.01': '1.47',
 '2015.09.30': '1.49',
 '2015.09.25': '1.47',
 '2015.09.24': '1.49',
 '2015.09.23': '1.48',
 '2015.09.22': '1.48',
 '2015.09.21': '1.48',
 '2015.09.18': '1.48',
 '2015.09.17': '1.48',
 '2015.09.16': '1.48',
 '2015.09.15': '1.49',
 '2015.09.14': '1.49',
 '2015.09.11': '1.49',
 '2015.09.10': '1.49',
 '2015.09.09': '1.48',
 '2015.09.08': '1.49',
 '2015.09.07': '1.47',
 '2015.09.04': '1.45',
 '2015.09.03': '1.47',
 '2015.09.02': '1.48',
 '2015.09.01': '1.49',
 '2015.08.31': '1.52',
 '2015.08.28': '1.51',
 '2015.08.27': '1.50',
 '2015.08.26': '1.50',
 '2015.08.25': '1.50',
 '2015.08.24': '1.50',
 '2015.08.21': '1.49',
 '2015.08.20': '1.49',
 '2015.08.19': '1.49',
 '2015.08.18': '1.49',
 '2015.08.17': '1.49',
 '2015.08.13': '1.49',
 '2015.08.12': '1.49',
 '2015.08.11': '1.49',
 '2015.08.10': '1.49',
 '2015.08.07': '1.49',
 '2015.08.06': '1.49',
 '2015.08.05': '1.48',
 '2015.08.04': '1.49',
 '2015.08.03': '1.48',
 '2015.07.31': '1.50',
 '2015.07.30': '1.49',
 '2015.07.29': '1.49',
 '2015.07.28': '1.49',
 '2015.07.27': '1.49',
 '2015.07.24': '1.49',
 '2015.07.23': '1.48',
 '2015.07.22': '1.47',
 '2015.07.21': '1.47',
 '2015.07.20': '1.47',
 '2015.07.17': '1.48',
 '2015.07.16': '1.48',
 '2015.07.15': '1.48',
 '2015.07.14': '1.49',
 '2015.07.13': '1.48',
 '2015.07.10': '1.48',
 '2015.07.09': '1.48',
 '2015.07.08': '1.48',
 '2015.07.07': '1.50',
 '2015.07.06': '1.48',
 '2015.07.03': '1.48',
 '2015.07.02': '1.48',
 '2015.07.01': '1.49',
 '2015.06.30': '1.50',
 '2015.06.29': '1.49',
 '2015.06.26': '1.50',
 '2015.06.25': '1.50',
 '2015.06.24': '1.50',
 '2015.06.23': '1.49',
 '2015.06.22': '1.49',
 '2015.06.19': '1.49',
 '2015.06.18': '1.49',
 '2015.06.17': '1.49',
 '2015.06.16': '1.48',
 '2015.06.15': '1.49',
 '2015.06.12': '1.48',
 '2015.06.11': '1.49',
 '2015.06.10': '1.74',
 '2015.06.09': '1.73',
 '2015.06.08': '1.72',
 '2015.06.05': '1.73',
 '2015.06.04': '1.73',
 '2015.06.03': '1.73',
 '2015.06.02': '1.73',
 '2015.06.01': '1.74',
 '2015.05.29': '1.74',
 '2015.05.28': '1.74',
 '2015.05.27': '1.74',
 '2015.05.26': '1.74',
 '2015.05.22': '1.74',
 '2015.05.21': '1.74',
 '2015.05.20': '1.74',
 '2015.05.19': '1.74',
 '2015.05.18': '1.74',
 '2015.05.15': '1.74',
 '2015.05.14': '1.73',
 '2015.05.13': '1.74',
 '2015.05.12': '1.73',
 '2015.05.11': '1.73',
 '2015.05.08': '1.73',
 '2015.05.07': '1.73',
 '2015.05.06': '1.73',
 '2015.05.04': '1.74',
 '2015.04.30': '1.74',
 '2015.04.29': '1.74',
 '2015.04.28': '1.74',
 '2015.04.27': '1.74',
 '2015.04.24': '1.74',
 '2015.04.23': '1.73',
 '2015.04.22': '1.73',
 '2015.04.21': '1.73',
 '2015.04.20': '1.73',
 '2015.04.17': '1.73',
 '2015.04.16': '1.73',
 '2015.04.15': '1.73',
 '2015.04.14': '1.73',
 '2015.04.13': '1.73',
 '2015.04.10': '1.74',
 '2015.04.09': '1.73',
 '2015.04.08': '1.73',
 '2015.04.07': '1.72',
 '2015.04.06': '1.72',
 '2015.04.03': '1.72',
 '2015.04.02': '1.73',
 '2015.04.01': '1.74',
 '2015.03.31': '1.74',
 '2015.03.30': '1.74',
 '2015.03.27': '1.74',
 '2015.03.26': '1.74',
 '2015.03.25': '1.74',
 '2015.03.24': '1.74',
 '2015.03.23': '1.73',
 '2015.03.20': '1.74',
 '2015.03.19': '1.74',
 '2015.03.18': '1.74',
 '2015.03.17': '1.74',
 '2015.03.16': '1.73',
 '2015.03.13': '1.73',
 '2015.03.12': '1.74',
 '2015.03.11': '1.98',
 '2015.03.10': '1.99',
 '2015.03.09': '1.98',
 '2015.03.06': '1.98',
 '2015.03.05': '1.98',
 '2015.03.04': '1.98',
 '2015.03.03': '1.98',
 '2015.03.02': '1.98',
 '2015.02.27': '1.99',
 '2015.02.26': '1.98',
 '2015.02.25': '1.98',
 '2015.02.24': '1.98',
 '2015.02.23': '1.98',
 '2015.02.17': '1.98',
 '2015.02.16': '1.99',
 '2015.02.13': '1.98',
 '2015.02.12': '1.98',
 '2015.02.11': '1.99',
 '2015.02.10': '2.00',
 '2015.02.09': '1.98',
 '2015.02.06': '1.99',
 '2015.02.05': '1.98',
 '2015.02.04': '1.99',
 '2015.02.03': '1.99',
 '2015.02.02': '1.99',
 '2015.01.30': '2.00',
 '2015.01.29': '1.99',
 '2015.01.28': '1.99',
 '2015.01.27': '1.99',
 '2015.01.26': '1.99',
 '2015.01.23': '1.99',
 '2015.01.22': '1.99',
 '2015.01.21': '1.98',
 '2015.01.20': '1.98',
 '2015.01.19': '1.98',
 '2015.01.16': '1.98',
 '2015.01.15': '1.99',
 '2015.01.14': '1.99',
 '2015.01.13': '1.99',
 '2015.01.12': '1.99',
 '2015.01.09': '1.98',
 '2015.01.08': '1.99',
 '2015.01.07': '1.99',
 '2015.01.06': '1.98',
 '2015.01.05': '2.00',
 '2015.01.02': '2.01',
 '2014.12.31': '2.03',
 '2014.12.30': '2.01',
 '2014.12.29': '1.99',
 '2014.12.26': '1.99',
 '2014.12.24': '1.99',
 '2014.12.23': '1.99',
 '2014.12.22': '1.99',
 '2014.12.19': '1.98',
 '2014.12.18': '1.98',
 '2014.12.17': '1.98',
 '2014.12.16': '1.99',
 '2014.12.15': '2.00',
 '2014.12.12': '1.98',
 '2014.12.11': '1.98',
 '2014.12.10': '1.99',
 '2014.12.09': '2.01',
 '2014.12.08': '1.99',
 '2014.12.05': '1.98',
 '2014.12.04': '1.98',
 '2014.12.03': '1.98',
 '2014.12.02': '1.98',
 '2014.12.01': '1.99',
 '2014.11.28': '1.99',
 '2014.11.27': '1.99',
 '2014.11.26': '1.98',
 '2014.11.25': '1.99',
 '2014.11.24': '1.98',
 '2014.11.21': '1.98',
 '2014.11.20': '1.98',
 '2014.11.19': '1.98',
 '2014.11.18': '1.98',
 '2014.11.17': '1.98',
 '2014.11.14': '1.98',
 '2014.11.13': '1.98',
 '2014.11.12': '1.98',
 '2014.11.11': '1.98',
 '2014.11.10': '1.98',
 '2014.11.07': '1.98',
 '2014.11.06': '1.98',
 '2014.11.05': '1.97',
 '2014.11.04': '1.96',
 '2014.11.03': '1.98',
 '2014.10.31': '1.97',
 '2014.10.30': '1.98',
 '2014.10.29': '1.98',
 '2014.10.28': '1.98',
 '2014.10.27': '1.98',
 '2014.10.24': '1.98',
 '2014.10.23': '1.99',
 '2014.10.22': '1.98',
 '2014.10.21': '1.98',
 '2014.10.20': '1.98',
 '2014.10.17': '1.98',
 '2014.10.16': '1.98',
 '2014.10.15': '1.99',
 '2014.10.14': '2.23',
 '2014.10.13': '2.23',
 '2014.10.10': '2.23',
 '2014.10.08': '2.23',
 '2014.10.07': '2.23',
 '2014.10.06': '2.23',
 '2014.10.02': '2.23',
 '2014.10.01': '2.24',
 '2014.09.30': '2.24',
 '2014.09.29': '2.24',
 '2014.09.26': '2.23',
 '2014.09.25': '2.24',
 '2014.09.24': '2.24',
 '2014.09.23': '2.23',
 '2014.09.22': '2.23',
 '2014.09.19': '2.23',
 '2014.09.18': '2.23',
 '2014.09.17': '2.23',
 '2014.09.16': '2.23',
 '2014.09.15': '2.23',
 '2014.09.12': '2.23',
 '2014.09.11': '2.23',
 '2014.09.05': '2.25',
 '2014.09.04': '2.25',
 '2014.09.03': '2.24',
 '2014.09.02': '2.23',
 '2014.09.01': '2.23',
 '2014.08.29': '2.24',
 '2014.08.28': '2.23',
 '2014.08.27': '2.23',
 '2014.08.26': '2.23',
 '2014.08.25': '2.24',
 '2014.08.22': '2.23',
 '2014.08.21': '2.23',
 '2014.08.20': '2.23',
 '2014.08.19': '2.24',
 '2014.08.18': '2.24',
 '2014.08.14': '2.24',
 '2014.08.13': '2.49',
 '2014.08.12': '2.49',
 '2014.08.11': '2.48',
 '2014.08.08': '2.49',
 '2014.08.07': '2.49',
 '2014.08.06': '2.49',
 '2014.08.05': '2.48',
 '2014.08.04': '2.48',
 '2014.08.01': '2.48',
 '2014.07.31': '2.49',
 '2014.07.30': '2.50',
 '2014.07.29': '2.50',
 '2014.07.28': '2.50',
 '2014.07.25': '2.49',
 '2014.07.24': '2.49',
 '2014.07.23': '2.49',
 '2014.07.22': '2.48',
 '2014.07.21': '2.48',
 '2014.07.18': '2.48',
 '2014.07.17': '2.49',
 '2014.07.16': '2.48',
 '2014.07.15': '2.48',
 '2014.07.14': '2.48',
 '2014.07.11': '2.48',
 '2014.07.10': '2.48',
 '2014.07.09': '2.50',
 '2014.07.08': '2.48',
 '2014.07.07': '2.48',
 '2014.07.04': '2.48',
 '2014.07.03': '2.48',
 '2014.07.02': '2.48',
 '2014.07.01': '2.48',
 '2014.06.30': '2.49',
 '2014.06.27': '2.48',

### 해당되지 않는 날짜 앞,뒤  지워주기

In [4]:
del date_list[:3]
del date_list[-2:]

del num_list[:3]
del num_list[-2:]
#['2018.01.04', '2018.01.03', '2018.01.02']

del all_dict['2004.12.31']
del all_dict['2004.12.30']
del all_dict['2018.01.04']
del all_dict['2018.01.03']
del all_dict['2018.01.02']
#el all_dict['2004.12.24']

In [ ]:
len(num_list)

In [ ]:
len(date_list)

In [ ]:
len(all_dict)

In [ ]:
all_dict

### 크롤링해온것 일단 파일에 저장

In [5]:
import pandas as pd

df_c=pd.DataFrame()
df_c['date']=date_list
df_c['콜금리']=num_list
df_c['date']=pd.to_datetime(df_c['date'])
df_c=df_c.set_index('date')
df_c

             콜금리
date
2017-12-29  1.58
2017-12-28  1.55
2017-12-27  1.51
2017-12-26  1.52
2017-12-22  1.51
2017-12-21  1.53
2017-12-20  1.51
2017-12-19  1.50
2017-12-18  1.50
2017-12-15  1.51
2017-12-14  1.50
2017-12-13  1.50
2017-12-12  1.51
2017-12-11  1.52
2017-12-08  1.52
2017-12-07  1.49
2017-12-06  1.48
2017-12-05  1.47
2017-12-04  1.48
2017-12-01  1.48
2017-11-30  1.53
2017-11-29  1.26
2017-11-28  1.26
2017-11-27  1.26
2017-11-24  1.25
2017-11-23  1.25
2017-11-22  1.24
2017-11-21  1.25
2017-11-20  1.25
2017-11-17  1.24
...          ...
2005-02-16  3.26
2005-02-15  3.26
2005-02-14  3.26
2005-02-11  3.27
2005-02-07  3.18
2005-02-04  3.22
2005-02-03  3.26
2005-02-02  3.25
2005-02-01  3.26
2005-01-31  3.26
2005-01-28  3.25
2005-01-27  3.24
2005-01-26  3.26
2005-01-25  3.25
2005-01-24  3.25
2005-01-21  3.19
2005-01-20  3.23
2005-01-19  3.25
2005-01-18  3.25
2005-01-17  3.25
2005-01-14  3.26
2005-01-13  3.28
2005-01-12  3.27
2005-01-11  3.28
2005-01-10  3.27
2005-01-07  3.22
2005-01-06  3.21
2005-01-05  3.28
2005-01-04  3.27
2005-01-03  3.27

[3229 rows x 1 columns]

In [ ]:
df_c.to_csv("C:\\Users\\Jungsk\\Downloads\\멀캠_혁신성장\\crwal_call_rate.csv",sep=' ')

In [ ]:
test_csv=pd.read_csv("C:\\Users\\Jungsk\\Downloads\\멀캠_혁신성장\\crwal_call_rate.csv",sep=' ')
test_csv

### 실제 달력 날짜 가져오기

In [6]:
import pandas as pd
import datetime
cal=pd.Series(pd.date_range(start='2005.01.01',end='2017.12.31',freq='D'))
cal=[d for d in reversed(cal)]
cal

[Timestamp('2017-12-31 00:00:00'),
 Timestamp('2017-12-30 00:00:00'),
 Timestamp('2017-12-29 00:00:00'),
 Timestamp('2017-12-28 00:00:00'),
 Timestamp('2017-12-27 00:00:00'),
 Timestamp('2017-12-26 00:00:00'),
 Timestamp('2017-12-25 00:00:00'),
 Timestamp('2017-12-24 00:00:00'),
 Timestamp('2017-12-23 00:00:00'),
 Timestamp('2017-12-22 00:00:00'),
 Timestamp('2017-12-21 00:00:00'),
 Timestamp('2017-12-20 00:00:00'),
 Timestamp('2017-12-19 00:00:00'),
 Timestamp('2017-12-18 00:00:00'),
 Timestamp('2017-12-17 00:00:00'),
 Timestamp('2017-12-16 00:00:00'),
 Timestamp('2017-12-15 00:00:00'),
 Timestamp('2017-12-14 00:00:00'),
 Timestamp('2017-12-13 00:00:00'),
 Timestamp('2017-12-12 00:00:00'),
 Timestamp('2017-12-11 00:00:00'),
 Timestamp('2017-12-10 00:00:00'),
 Timestamp('2017-12-09 00:00:00'),
 Timestamp('2017-12-08 00:00:00'),
 Timestamp('2017-12-07 00:00:00'),
 Timestamp('2017-12-06 00:00:00'),
 Timestamp('2017-12-05 00:00:00'),
 Timestamp('2017-12-04 00:00:00'),
 Timestamp('2017-12-03 00:00:00'),
 Timestamp('2017-12-02 00:00:00'),
 Timestamp('2017-12-01 00:00:00'),
 Timestamp('2017-11-30 00:00:00'),
 Timestamp('2017-11-29 00:00:00'),
 Timestamp('2017-11-28 00:00:00'),
 Timestamp('2017-11-27 00:00:00'),
 Timestamp('2017-11-26 00:00:00'),
 Timestamp('2017-11-25 00:00:00'),
 Timestamp('2017-11-24 00:00:00'),
 Timestamp('2017-11-23 00:00:00'),
 Timestamp('2017-11-22 00:00:00'),
 Timestamp('2017-11-21 00:00:00'),
 Timestamp('2017-11-20 00:00:00'),
 Timestamp('2017-11-19 00:00:00'),
 Timestamp('2017-11-18 00:00:00'),
 Timestamp('2017-11-17 00:00:00'),
 Timestamp('2017-11-16 00:00:00'),
 Timestamp('2017-11-15 00:00:00'),
 Timestamp('2017-11-14 00:00:00'),
 Timestamp('2017-11-13 00:00:00'),
 Timestamp('2017-11-12 00:00:00'),
 Timestamp('2017-11-11 00:00:00'),
 Timestamp('2017-11-10 00:00:00'),
 Timestamp('2017-11-09 00:00:00'),
 Timestamp('2017-11-08 00:00:00'),
 Timestamp('2017-11-07 00:00:00'),
 Timestamp('2017-11-06 00:00:00'),
 Timestamp('2017-11-05 00:00:00'),
 Timestamp('2017-11-04 00:00:00'),
 Timestamp('2017-11-03 00:00:00'),
 Timestamp('2017-11-02 00:00:00'),
 Timestamp('2017-11-01 00:00:00'),
 Timestamp('2017-10-31 00:00:00'),
 Timestamp('2017-10-30 00:00:00'),
 Timestamp('2017-10-29 00:00:00'),
 Timestamp('2017-10-28 00:00:00'),
 Timestamp('2017-10-27 00:00:00'),
 Timestamp('2017-10-26 00:00:00'),
 Timestamp('2017-10-25 00:00:00'),
 Timestamp('2017-10-24 00:00:00'),
 Timestamp('2017-10-23 00:00:00'),
 Timestamp('2017-10-22 00:00:00'),
 Timestamp('2017-10-21 00:00:00'),
 Timestamp('2017-10-20 00:00:00'),
 Timestamp('2017-10-19 00:00:00'),
 Timestamp('2017-10-18 00:00:00'),
 Timestamp('2017-10-17 00:00:00'),
 Timestamp('2017-10-16 00:00:00'),
 Timestamp('2017-10-15 00:00:00'),
 Timestamp('2017-10-14 00:00:00'),
 Timestamp('2017-10-13 00:00:00'),
 Timestamp('2017-10-12 00:00:00'),
 Timestamp('2017-10-11 00:00:00'),
 Timestamp('2017-10-10 00:00:00'),
 Timestamp('2017-10-09 00:00:00'),
 Timestamp('2017-10-08 00:00:00'),
 Timestamp('2017-10-07 00:00:00'),
 Timestamp('2017-10-06 00:00:00'),
 Timestamp('2017-10-05 00:00:00'),
 Timestamp('2017-10-04 00:00:00'),
 Timestamp('2017-10-03 00:00:00'),
 Timestamp('2017-10-02 00:00:00'),
 Timestamp('2017-10-01 00:00:00'),
 Timestamp('2017-09-30 00:00:00'),
 Timestamp('2017-09-29 00:00:00'),
 Timestamp('2017-09-28 00:00:00'),
 Timestamp('2017-09-27 00:00:00'),
 Timestamp('2017-09-26 00:00:00'),
 Timestamp('2017-09-25 00:00:00'),
 Timestamp('2017-09-24 00:00:00'),
 Timestamp('2017-09-23 00:00:00'),
 Timestamp('2017-09-22 00:00:00'),
 Timestamp('2017-09-21 00:00:00'),
 Timestamp('2017-09-20 00:00:00'),
 Timestamp('2017-09-19 00:00:00'),
 Timestamp('2017-09-18 00:00:00'),
 Timestamp('2017-09-17 00:00:00'),
 Timestamp('2017-09-16 00:00:00'),
 Timestamp('2017-09-15 00:00:00'),
 Timestamp('2017-09-14 00:00:00'),
 Timestamp('2017-09-13 00:00:00'),
 Timestamp('2017-09-12 00:00:00'),
 Timestamp('2017-09-11 00:00:00'),
 Timestamp('2017-09-10 00:00:00'),
 Timestamp('2017-09-09 00:00:00'),
 Timestamp('2017-09-08 00:00:00'),
 Timestamp('2017-09-07 00:00:00'),
 Timestamp('2017-09-06 00:00:00'),
 Timestamp('2017-09-05 00:00:00'),
 Timestamp('2017-09-04 00:00:00'),
 Timestamp('2017-09-03 00:00:00'),
 Timestamp('2017-09-02 00:00:00'),
 Timestamp('2017-09-01 00:00:00'),
 Timestamp('2017-08-31 00:00:00'),
 Timestamp('2017-08-30 00:00:00'),
 Timestamp('2017-08-29 00:00:00'),
 Timestamp('2017-08-28 00:00:00'),
 Timestamp('2017-08-27 00:00:00'),
 Timestamp('2017-08-26 00:00:00'),
 Timestamp('2017-08-25 00:00:00'),
 Timestamp('2017-08-24 00:00:00'),
 Timestamp('2017-08-23 00:00:00'),
 Timestamp('2017-08-22 00:00:00'),
 Timestamp('2017-08-21 00:00:00'),
 Timestamp('2017-08-20 00:00:00'),
 Timestamp('2017-08-19 00:00:00'),
 Timestamp('2017-08-18 00:00:00'),
 Timestamp('2017-08-17 00:00:00'),
 Timestamp('2017-08-16 00:00:00'),
 Timestamp('2017-08-15 00:00:00'),
 Timestamp('2017-08-14 00:00:00'),
 Timestamp('2017-08-13 00:00:00'),
 Timestamp('2017-08-12 00:00:00'),
 Timestamp('2017-08-11 00:00:00'),
 Timestamp('2017-08-10 00:00:00'),
 Timestamp('2017-08-09 00:00:00'),
 Timestamp('2017-08-08 00:00:00'),
 Timestamp('2017-08-07 00:00:00'),
 Timestamp('2017-08-06 00:00:00'),
 Timestamp('2017-08-05 00:00:00'),
 Timestamp('2017-08-04 00:00:00'),
 Timestamp('2017-08-03 00:00:00'),
 Timestamp('2017-08-02 00:00:00'),
 Timestamp('2017-08-01 00:00:00'),
 Timestamp('2017-07-31 00:00:00'),
 Timestamp('2017-07-30 00:00:00'),
 Timestamp('2017-07-29 00:00:00'),
 Timestamp('2017-07-28 00:00:00'),
 Timestamp('2017-07-27 00:00:00'),
 Timestamp('2017-07-26 00:00:00'),
 Timestamp('2017-07-25 00:00:00'),
 Timestamp('2017-07-24 00:00:00'),
 Timestamp('2017-07-23 00:00:00'),
 Timestamp('2017-07-22 00:00:00'),
 Timestamp('2017-07-21 00:00:00'),
 Timestamp('2017-07-20 00:00:00'),
 Timestamp('2017-07-19 00:00:00'),
 Timestamp('2017-07-18 00:00:00'),
 Timestamp('2017-07-17 00:00:00'),
 Timestamp('2017-07-16 00:00:00'),
 Timestamp('2017-07-15 00:00:00'),
 Timestamp('2017-07-14 00:00:00'),
 Timestamp('2017-07-13 00:00:00'),
 Timestamp('2017-07-12 00:00:00'),
 Timestamp('2017-07-11 00:00:00'),
 Timestamp('2017-07-10 00:00:00'),
 Timestamp('2017-07-09 00:00:00'),
 Timestamp('2017-07-08 00:00:00'),
 Timestamp('2017-07-07 00:00:00'),
 Timestamp('2017-07-06 00:00:00'),
 Timestamp('2017-07-05 00:00:00'),
 Timestamp('2017-07-04 00:00:00'),
 Timestamp('2017-07-03 00:00:00'),
 Timestamp('2017-07-02 00:00:00'),
 Timestamp('2017-07-01 00:00:00'),
 Timestamp('2017-06-30 00:00:00'),
 Timestamp('2017-06-29 00:00:00'),
 Timestamp('2017-06-28 00:00:00'),
 Timestamp('2017-06-27 00:00:00'),
 Timestamp('2017-06-26 00:00:00'),
 Timestamp('2017-06-25 00:00:00'),
 Timestamp('2017-06-24 00:00:00'),
 Timestamp('2017-06-23 00:00:00'),
 Timestamp('2017-06-22 00:00:00'),
 Timestamp('2017-06-21 00:00:00'),
 Timestamp('2017-06-20 00:00:00'),
 Timestamp('2017-06-19 00:00:00'),
 Timestamp('2017-06-18 00:00:00'),
 Timestamp('2017-06-17 00:00:00'),
 Timestamp('2017-06-16 00:00:00'),
 Timestamp('2017-06-15 00:00:00'),
 Timestamp('2017-06-14 00:00:00'),
 Timestamp('2017-06-13 00:00:00'),
 Timestamp('2017-06-12 00:00:00'),
 Timestamp('2017-06-11 00:00:00'),
 Timestamp('2017-06-10 00:00:00'),
 Timestamp('2017-06-09 00:00:00'),
 Timestamp('2017-06-08 00:00:00'),
 Timestamp('2017-06-07 00:00:00'),
 Timestamp('2017-06-06 00:00:00'),
 Timestamp('2017-06-05 00:00:00'),
 Timestamp('2017-06-04 00:00:00'),
 Timestamp('2017-06-03 00:00:00'),
 Timestamp('2017-06-02 00:00:00'),
 Timestamp('2017-06-01 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2017-05-30 00:00:00'),
 Timestamp('2017-05-29 00:00:00'),
 Timestamp('2017-05-28 00:00:00'),
 Timestamp('2017-05-27 00:00:00'),
 Timestamp('2017-05-26 00:00:00'),
 Timestamp('2017-05-25 00:00:00'),
 Timestamp('2017-05-24 00:00:00'),
 Timestamp('2017-05-23 00:00:00'),
 Timestamp('2017-05-22 00:00:00'),
 Timestamp('2017-05-21 00:00:00'),
 Timestamp('2017-05-20 00:00:00'),
 Timestamp('2017-05-19 00:00:00'),
 Timestamp('2017-05-18 00:00:00'),
 Timestamp('2017-05-17 00:00:00'),
 Timestamp('2017-05-16 00:00:00'),
 Timestamp('2017-05-15 00:00:00'),
 Timestamp('2017-05-14 00:00:00'),
 Timestamp('2017-05-13 00:00:00'),
 Timestamp('2017-05-12 00:00:00'),
 Timestamp('2017-05-11 00:00:00'),
 Timestamp('2017-05-10 00:00:00'),
 Timestamp('2017-05-09 00:00:00'),
 Timestamp('2017-05-08 00:00:00'),
 Timestamp('2017-05-07 00:00:00'),
 Timestamp('2017-05-06 00:00:00'),
 Timestamp('2017-05-05 00:00:00'),
 Timestamp('2017-05-04 00:00:00'),
 Timestamp('2017-05-03 00:00:00'),
 Timestamp('2017-05-02 00:00:00'),
 Timestamp('2017-05-01 00:00:00'),
 Timestamp('2017-04-30 00:00:00'),
 Timestamp('2017-04-29 00:00:00'),
 Timestamp('2017-04-28 00:00:00'),
 Timestamp('2017-04-27 00:00:00'),
 Timestamp('2017-04-26 00:00:00'),
 Timestamp('2017-04-25 00:00:00'),
 Timestamp('2017-04-24 00:00:00'),
 Timestamp('2017-04-23 00:00:00'),
 Timestamp('2017-04-22 00:00:00'),
 Timestamp('2017-04-21 00:00:00'),
 Timestamp('2017-04-20 00:00:00'),
 Timestamp('2017-04-19 00:00:00'),
 Timestamp('2017-04-18 00:00:00'),
 Timestamp('2017-04-17 00:00:00'),
 Timestamp('2017-04-16 00:00:00'),
 Timestamp('2017-04-15 00:00:00'),
 Timestamp('2017-04-14 00:00:00'),
 Timestamp('2017-04-13 00:00:00'),
 Timestamp('2017-04-12 00:00:00'),
 Timestamp('2017-04-11 00:00:00'),
 Timestamp('2017-04-10 00:00:00'),
 Timestamp('2017-04-09 00:00:00'),
 Timestamp('2017-04-08 00:00:00'),
 Timestamp('2017-04-07 00:00:00'),
 Timestamp('2017-04-06 00:00:00'),
 Timestamp('2017-04-05 00:00:00'),
 Timestamp('2017-04-04 00:00:00'),
 Timestamp('2017-04-03 00:00:00'),
 Timestamp('2017-04-02 00:00:00'),
 Timestamp('2017-04-01 00:00:00'),
 Timestamp('2017-03-31 00:00:00'),
 Timestamp('2017-03-30 00:00:00'),
 Timestamp('2017-03-29 00:00:00'),
 Timestamp('2017-03-28 00:00:00'),
 Timestamp('2017-03-27 00:00:00'),
 Timestamp('2017-03-26 00:00:00'),
 Timestamp('2017-03-25 00:00:00'),
 Timestamp('2017-03-24 00:00:00'),
 Timestamp('2017-03-23 00:00:00'),
 Timestamp('2017-03-22 00:00:00'),
 Timestamp('2017-03-21 00:00:00'),
 Timestamp('2017-03-20 00:00:00'),
 Timestamp('2017-03-19 00:00:00'),
 Timestamp('2017-03-18 00:00:00'),
 Timestamp('2017-03-17 00:00:00'),
 Timestamp('2017-03-16 00:00:00'),
 Timestamp('2017-03-15 00:00:00'),
 Timestamp('2017-03-14 00:00:00'),
 Timestamp('2017-03-13 00:00:00'),
 Timestamp('2017-03-12 00:00:00'),
 Timestamp('2017-03-11 00:00:00'),
 Timestamp('2017-03-10 00:00:00'),
 Timestamp('2017-03-09 00:00:00'),
 Timestamp('2017-03-08 00:00:00'),
 Timestamp('2017-03-07 00:00:00'),
 Timestamp('2017-03-06 00:00:00'),
 Timestamp('2017-03-05 00:00:00'),
 Timestamp('2017-03-04 00:00:00'),
 Timestamp('2017-03-03 00:00:00'),
 Timestamp('2017-03-02 00:00:00'),
 Timestamp('2017-03-01 00:00:00'),
 Timestamp('2017-02-28 00:00:00'),
 Timestamp('2017-02-27 00:00:00'),
 Timestamp('2017-02-26 00:00:00'),
 Timestamp('2017-02-25 00:00:00'),
 Timestamp('2017-02-24 00:00:00'),
 Timestamp('2017-02-23 00:00:00'),
 Timestamp('2017-02-22 00:00:00'),
 Timestamp('2017-02-21 00:00:00'),
 Timestamp('2017-02-20 00:00:00'),
 Timestamp('2017-02-19 00:00:00'),
 Timestamp('2017-02-18 00:00:00'),
 Timestamp('2017-02-17 00:00:00'),
 Timestamp('2017-02-16 00:00:00'),
 Timestamp('2017-02-15 00:00:00'),
 Timestamp('2017-02-14 00:00:00'),
 Timestamp('2017-02-13 00:00:00'),
 Timestamp('2017-02-12 00:00:00'),
 Timestamp('2017-02-11 00:00:00'),
 Timestamp('2017-02-10 00:00:00'),
 Timestamp('2017-02-09 00:00:00'),
 Timestamp('2017-02-08 00:00:00'),
 Timestamp('2017-02-07 00:00:00'),
 Timestamp('2017-02-06 00:00:00'),
 Timestamp('2017-02-05 00:00:00'),
 Timestamp('2017-02-04 00:00:00'),
 Timestamp('2017-02-03 00:00:00'),
 Timestamp('2017-02-02 00:00:00'),
 Timestamp('2017-02-01 00:00:00'),
 Timestamp('2017-01-31 00:00:00'),
 Timestamp('2017-01-30 00:00:00'),
 Timestamp('2017-01-29 00:00:00'),
 Timestamp('2017-01-28 00:00:00'),
 Timestamp('2017-01-27 00:00:00'),
 Timestamp('2017-01-26 00:00:00'),
 Timestamp('2017-01-25 00:00:00'),
 Timestamp('2017-01-24 00:00:00'),
 Timestamp('2017-01-23 00:00:00'),
 Timestamp('2017-01-22 00:00:00'),
 Timestamp('2017-01-21 00:00:00'),
 Timestamp('2017-01-20 00:00:00'),
 Timestamp('2017-01-19 00:00:00'),
 Timestamp('2017-01-18 00:00:00'),
 Timestamp('2017-01-17 00:00:00'),
 Timestamp('2017-01-16 00:00:00'),
 Timestamp('2017-01-15 00:00:00'),
 Timestamp('2017-01-14 00:00:00'),
 Timestamp('2017-01-13 00:00:00'),
 Timestamp('2017-01-12 00:00:00'),
 Timestamp('2017-01-11 00:00:00'),
 Timestamp('2017-01-10 00:00:00'),
 Timestamp('2017-01-09 00:00:00'),
 Timestamp('2017-01-08 00:00:00'),
 Timestamp('2017-01-07 00:00:00'),
 Timestamp('2017-01-06 00:00:00'),
 Timestamp('2017-01-05 00:00:00'),
 Timestamp('2017-01-04 00:00:00'),
 Timestamp('2017-01-03 00:00:00'),
 Timestamp('2017-01-02 00:00:00'),
 Timestamp('2017-01-01 00:00:00'),
 Timestamp('2016-12-31 00:00:00'),
 Timestamp('2016-12-30 00:00:00'),
 Timestamp('2016-12-29 00:00:00'),
 Timestamp('2016-12-28 00:00:00'),
 Timestamp('2016-12-27 00:00:00'),
 Timestamp('2016-12-26 00:00:00'),
 Timestamp('2016-12-25 00:00:00'),
 Timestamp('2016-12-24 00:00:00'),
 Timestamp('2016-12-23 00:00:00'),
 Timestamp('2016-12-22 00:00:00'),
 Timestamp('2016-12-21 00:00:00'),
 Timestamp('2016-12-20 00:00:00'),
 Timestamp('2016-12-19 00:00:00'),
 Timestamp('2016-12-18 00:00:00'),
 Timestamp('2016-12-17 00:00:00'),
 Timestamp('2016-12-16 00:00:00'),
 Timestamp('2016-12-15 00:00:00'),
 Timestamp('2016-12-14 00:00:00'),
 Timestamp('2016-12-13 00:00:00'),
 Timestamp('2016-12-12 00:00:00'),
 Timestamp('2016-12-11 00:00:00'),
 Timestamp('2016-12-10 00:00:00'),
 Timestamp('2016-12-09 00:00:00'),
 Timestamp('2016-12-08 00:00:00'),
 Timestamp('2016-12-07 00:00:00'),
 Timestamp('2016-12-06 00:00:00'),
 Timestamp('2016-12-05 00:00:00'),
 Timestamp('2016-12-04 00:00:00'),
 Timestamp('2016-12-03 00:00:00'),
 Timestamp('2016-12-02 00:00:00'),
 Timestamp('2016-12-01 00:00:00'),
 Timestamp('2016-11-30 00:00:00'),
 Timestamp('2016-11-29 00:00:00'),
 Timestamp('2016-11-28 00:00:00'),
 Timestamp('2016-11-27 00:00:00'),
 Timestamp('2016-11-26 00:00:00'),
 Timestamp('2016-11-25 00:00:00'),
 Timestamp('2016-11-24 00:00:00'),
 Timestamp('2016-11-23 00:00:00'),
 Timestamp('2016-11-22 00:00:00'),
 Timestamp('2016-11-21 00:00:00'),
 Timestamp('2016-11-20 00:00:00'),
 Timestamp('2016-11-19 00:00:00'),
 Timestamp('2016-11-18 00:00:00'),
 Timestamp('2016-11-17 00:00:00'),
 Timestamp('2016-11-16 00:00:00'),
 Timestamp('2016-11-15 00:00:00'),
 Timestamp('2016-11-14 00:00:00'),
 Timestamp('2016-11-13 00:00:00'),
 Timestamp('2016-11-12 00:00:00'),
 Timestamp('2016-11-11 00:00:00'),
 Timestamp('2016-11-10 00:00:00'),
 Timestamp('2016-11-09 00:00:00'),
 Timestamp('2016-11-08 00:00:00'),
 Timestamp('2016-11-07 00:00:00'),
 Timestamp('2016-11-06 00:00:00'),
 Timestamp('2016-11-05 00:00:00'),
 Timestamp('2016-11-04 00:00:00'),
 Timestamp('2016-11-03 00:00:00'),
 Timestamp('2016-11-02 00:00:00'),
 Timestamp('2016-11-01 00:00:00'),
 Timestamp('2016-10-31 00:00:00'),
 Timestamp('2016-10-30 00:00:00'),
 Timestamp('2016-10-29 00:00:00'),
 Timestamp('2016-10-28 00:00:00'),
 Timestamp('2016-10-27 00:00:00'),
 Timestamp('2016-10-26 00:00:00'),
 Timestamp('2016-10-25 00:00:00'),
 Timestamp('2016-10-24 00:00:00'),
 Timestamp('2016-10-23 00:00:00'),
 Timestamp('2016-10-22 00:00:00'),
 Timestamp('2016-10-21 00:00:00'),
 Timestamp('2016-10-20 00:00:00'),
 Timestamp('2016-10-19 00:00:00'),
 Timestamp('2016-10-18 00:00:00'),
 Timestamp('2016-10-17 00:00:00'),
 Timestamp('2016-10-16 00:00:00'),
 Timestamp('2016-10-15 00:00:00'),
 Timestamp('2016-10-14 00:00:00'),
 Timestamp('2016-10-13 00:00:00'),
 Timestamp('2016-10-12 00:00:00'),
 Timestamp('2016-10-11 00:00:00'),
 Timestamp('2016-10-10 00:00:00'),
 Timestamp('2016-10-09 00:00:00'),
 Timestamp('2016-10-08 00:00:00'),
 Timestamp('2016-10-07 00:00:00'),
 Timestamp('2016-10-06 00:00:00'),
 Timestamp('2016-10-05 00:00:00'),
 Timestamp('2016-10-04 00:00:00'),
 Timestamp('2016-10-03 00:00:00'),
 Timestamp('2016-10-02 00:00:00'),
 Timestamp('2016-10-01 00:00:00'),
 Timestamp('2016-09-30 00:00:00'),
 Timestamp('2016-09-29 00:00:00'),
 Timestamp('2016-09-28 00:00:00'),
 Timestamp('2016-09-27 00:00:00'),
 Timestamp('2016-09-26 00:00:00'),
 Timestamp('2016-09-25 00:00:00'),
 Timestamp('2016-09-24 00:00:00'),
 Timestamp('2016-09-23 00:00:00'),
 Timestamp('2016-09-22 00:00:00'),
 Timestamp('2016-09-21 00:00:00'),
 Timestamp('2016-09-20 00:00:00'),
 Timestamp('2016-09-19 00:00:00'),
 Timestamp('2016-09-18 00:00:00'),
 Timestamp('2016-09-17 00:00:00'),
 Timestamp('2016-09-16 00:00:00'),
 Timestamp('2016-09-15 00:00:00'),
 Timestamp('2016-09-14 00:00:00'),
 Timestamp('2016-09-13 00:00:00'),
 Timestamp('2016-09-12 00:00:00'),
 Timestamp('2016-09-11 00:00:00'),
 Timestamp('2016-09-10 00:00:00'),
 Timestamp('2016-09-09 00:00:00'),
 Timestamp('2016-09-08 00:00:00'),
 Timestamp('2016-09-07 00:00:00'),
 Timestamp('2016-09-06 00:00:00'),
 Timestamp('2016-09-05 00:00:00'),
 Timestamp('2016-09-04 00:00:00'),
 Timestamp('2016-09-03 00:00:00'),
 Timestamp('2016-09-02 00:00:00'),
 Timestamp('2016-09-01 00:00:00'),
 Timestamp('2016-08-31 00:00:00'),
 Timestamp('2016-08-30 00:00:00'),
 Timestamp('2016-08-29 00:00:00'),
 Timestamp('2016-08-28 00:00:00'),
 Timestamp('2016-08-27 00:00:00'),
 Timestamp('2016-08-26 00:00:00'),
 Timestamp('2016-08-25 00:00:00'),
 Timestamp('2016-08-24 00:00:00'),
 Timestamp('2016-08-23 00:00:00'),
 Timestamp('2016-08-22 00:00:00'),
 Timestamp('2016-08-21 00:00:00'),
 Timestamp('2016-08-20 00:00:00'),
 Timestamp('2016-08-19 00:00:00'),
 Timestamp('2016-08-18 00:00:00'),
 Timestamp('2016-08-17 00:00:00'),
 Timestamp('2016-08-16 00:00:00'),
 Timestamp('2016-08-15 00:00:00'),
 Timestamp('2016-08-14 00:00:00'),
 Timestamp('2016-08-13 00:00:00'),
 Timestamp('2016-08-12 00:00:00'),
 Timestamp('2016-08-11 00:00:00'),
 Timestamp('2016-08-10 00:00:00'),
 Timestamp('2016-08-09 00:00:00'),
 Timestamp('2016-08-08 00:00:00'),
 Timestamp('2016-08-07 00:00:00'),
 Timestamp('2016-08-06 00:00:00'),
 Timestamp('2016-08-05 00:00:00'),
 Timestamp('2016-08-04 00:00:00'),
 Timestamp('2016-08-03 00:00:00'),
 Timestamp('2016-08-02 00:00:00'),
 Timestamp('2016-08-01 00:00:00'),
 Timestamp('2016-07-31 00:00:00'),
 Timestamp('2016-07-30 00:00:00'),
 Timestamp('2016-07-29 00:00:00'),
 Timestamp('2016-07-28 00:00:00'),
 Timestamp('2016-07-27 00:00:00'),
 Timestamp('2016-07-26 00:00:00'),
 Timestamp('2016-07-25 00:00:00'),
 Timestamp('2016-07-24 00:00:00'),
 Timestamp('2016-07-23 00:00:00'),
 Timestamp('2016-07-22 00:00:00'),
 Timestamp('2016-07-21 00:00:00'),
 Timestamp('2016-07-20 00:00:00'),
 Timestamp('2016-07-19 00:00:00'),
 Timestamp('2016-07-18 00:00:00'),
 Timestamp('2016-07-17 00:00:00'),
 Timestamp('2016-07-16 00:00:00'),
 Timestamp('2016-07-15 00:00:00'),
 Timestamp('2016-07-14 00:00:00'),
 Timestamp('2016-07-13 00:00:00'),
 Timestamp('2016-07-12 00:00:00'),
 Timestamp('2016-07-11 00:00:00'),
 Timestamp('2016-07-10 00:00:00'),
 Timestamp('2016-07-09 00:00:00'),
 Timestamp('2016-07-08 00:00:00'),
 Timestamp('2016-07-07 00:00:00'),
 Timestamp('2016-07-06 00:00:00'),
 Timestamp('2016-07-05 00:00:00'),
 Timestamp('2016-07-04 00:00:00'),
 Timestamp('2016-07-03 00:00:00'),
 Timestamp('2016-07-02 00:00:00'),
 Timestamp('2016-07-01 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-06-29 00:00:00'),
 Timestamp('2016-06-28 00:00:00'),
 Timestamp('2016-06-27 00:00:00'),
 Timestamp('2016-06-26 00:00:00'),
 Timestamp('2016-06-25 00:00:00'),
 Timestamp('2016-06-24 00:00:00'),
 Timestamp('2016-06-23 00:00:00'),
 Timestamp('2016-06-22 00:00:00'),
 Timestamp('2016-06-21 00:00:00'),
 Timestamp('2016-06-20 00:00:00'),
 Timestamp('2016-06-19 00:00:00'),
 Timestamp('2016-06-18 00:00:00'),
 Timestamp('2016-06-17 00:00:00'),
 Timestamp('2016-06-16 00:00:00'),
 Timestamp('2016-06-15 00:00:00'),
 Timestamp('2016-06-14 00:00:00'),
 Timestamp('2016-06-13 00:00:00'),
 Timestamp('2016-06-12 00:00:00'),
 Timestamp('2016-06-11 00:00:00'),
 Timestamp('2016-06-10 00:00:00'),
 Timestamp('2016-06-09 00:00:00'),

In [ ]:
len(cal)

## Data Frame에 넣기

###  df :  크롤링한 date & call금리 저장

In [7]:
df=pd.DataFrame()
df['date']=date_list
df['콜금리']=num_list
df['date']=pd.to_datetime(df['date'])
df

           date   콜금리
0    2017-12-29  1.58
1    2017-12-28  1.55
2    2017-12-27  1.51
3    2017-12-26  1.52
4    2017-12-22  1.51
5    2017-12-21  1.53
6    2017-12-20  1.51
7    2017-12-19  1.50
8    2017-12-18  1.50
9    2017-12-15  1.51
10   2017-12-14  1.50
11   2017-12-13  1.50
12   2017-12-12  1.51
13   2017-12-11  1.52
14   2017-12-08  1.52
15   2017-12-07  1.49
16   2017-12-06  1.48
17   2017-12-05  1.47
18   2017-12-04  1.48
19   2017-12-01  1.48
20   2017-11-30  1.53
21   2017-11-29  1.26
22   2017-11-28  1.26
23   2017-11-27  1.26
24   2017-11-24  1.25
25   2017-11-23  1.25
26   2017-11-22  1.24
27   2017-11-21  1.25
28   2017-11-20  1.25
29   2017-11-17  1.24
...         ...   ...
3199 2005-02-16  3.26
3200 2005-02-15  3.26
3201 2005-02-14  3.26
3202 2005-02-11  3.27
3203 2005-02-07  3.18
3204 2005-02-04  3.22
3205 2005-02-03  3.26
3206 2005-02-02  3.25
3207 2005-02-01  3.26
3208 2005-01-31  3.26
3209 2005-01-28  3.25
3210 2005-01-27  3.24
3211 2005-01-26  3.26
3212 2005-01-25  3.25
3213 2005-01-24  3.25
3214 2005-01-21  3.19
3215 2005-01-20  3.23
3216 2005-01-19  3.25
3217 2005-01-18  3.25
3218 2005-01-17  3.25
3219 2005-01-14  3.26
3220 2005-01-13  3.28
3221 2005-01-12  3.27
3222 2005-01-11  3.28
3223 2005-01-10  3.27
3224 2005-01-07  3.22
3225 2005-01-06  3.21
3226 2005-01-05  3.28
3227 2005-01-04  3.27
3228 2005-01-03  3.27

[3229 rows x 2 columns]

### df 1: 실제 날짜 저장

In [8]:
df1=pd.DataFrame()
df1['date']=cal
df1

           date
0    2017-12-31
1    2017-12-30
2    2017-12-29
3    2017-12-28
4    2017-12-27
5    2017-12-26
6    2017-12-25
7    2017-12-24
8    2017-12-23
9    2017-12-22
10   2017-12-21
11   2017-12-20
12   2017-12-19
13   2017-12-18
14   2017-12-17
15   2017-12-16
16   2017-12-15
17   2017-12-14
18   2017-12-13
19   2017-12-12
20   2017-12-11
21   2017-12-10
22   2017-12-09
23   2017-12-08
24   2017-12-07
25   2017-12-06
26   2017-12-05
27   2017-12-04
28   2017-12-03
29   2017-12-02
...         ...
4718 2005-01-30
4719 2005-01-29
4720 2005-01-28
4721 2005-01-27
4722 2005-01-26
4723 2005-01-25
4724 2005-01-24
4725 2005-01-23
4726 2005-01-22
4727 2005-01-21
4728 2005-01-20
4729 2005-01-19
4730 2005-01-18
4731 2005-01-17
4732 2005-01-16
4733 2005-01-15
4734 2005-01-14
4735 2005-01-13
4736 2005-01-12
4737 2005-01-11
4738 2005-01-10
4739 2005-01-09
4740 2005-01-08
4741 2005-01-07
4742 2005-01-06
4743 2005-01-05
4744 2005-01-04
4745 2005-01-03
4746 2005-01-02
4747 2005-01-01

[4748 rows x 1 columns]

### df 와 df1 을 Merge

In [9]:
df2=pd.merge(df1,df,how='outer',on='date')

df2=df2.fillna(method='ffill')
if df2.isnull().values.any():
    df2=df2.fillna(method='bfill')

df2

           date   콜금리
0    2017-12-31  1.58
1    2017-12-30  1.58
2    2017-12-29  1.58
3    2017-12-28  1.55
4    2017-12-27  1.51
5    2017-12-26  1.52
6    2017-12-25  1.52
7    2017-12-24  1.52
8    2017-12-23  1.52
9    2017-12-22  1.51
10   2017-12-21  1.53
11   2017-12-20  1.51
12   2017-12-19  1.50
13   2017-12-18  1.50
14   2017-12-17  1.50
15   2017-12-16  1.50
16   2017-12-15  1.51
17   2017-12-14  1.50
18   2017-12-13  1.50
19   2017-12-12  1.51
20   2017-12-11  1.52
21   2017-12-10  1.52
22   2017-12-09  1.52
23   2017-12-08  1.52
24   2017-12-07  1.49
25   2017-12-06  1.48
26   2017-12-05  1.47
27   2017-12-04  1.48
28   2017-12-03  1.48
29   2017-12-02  1.48
...         ...   ...
4718 2005-01-30  3.26
4719 2005-01-29  3.26
4720 2005-01-28  3.25
4721 2005-01-27  3.24
4722 2005-01-26  3.26
4723 2005-01-25  3.25
4724 2005-01-24  3.25
4725 2005-01-23  3.25
4726 2005-01-22  3.25
4727 2005-01-21  3.19
4728 2005-01-20  3.23
4729 2005-01-19  3.25
4730 2005-01-18  3.25
4731 2005-01-17  3.25
4732 2005-01-16  3.25
4733 2005-01-15  3.25
4734 2005-01-14  3.26
4735 2005-01-13  3.28
4736 2005-01-12  3.27
4737 2005-01-11  3.28
4738 2005-01-10  3.27
4739 2005-01-09  3.27
4740 2005-01-08  3.27
4741 2005-01-07  3.22
4742 2005-01-06  3.21
4743 2005-01-05  3.28
4744 2005-01-04  3.27
4745 2005-01-03  3.27
4746 2005-01-02  3.27
4747 2005-01-01  3.27

[4748 rows x 2 columns]

### 인덱스를 날짜로

In [ ]:
df2['date']=pd.to_datetime(df2['date'])
df2

In [ ]:
df2=df2.set_index('date')
df2

### 1 달 전 날짜 구해놓기 - 리스트에 저장

In [ ]:
from datetime import datetime,timedelta

month_ago=df2['Before 1M']=df2.index-pd.DateOffset(months=1)
df2

### '현재 날짜'로 , '1 달 전 날짜' 를 구해서, 데이터프레임 키값으로 넣어주기...!!

In [ ]:
key_date=[]
current_date=[]

for i in range(len(cal)):
    before=df2['Before 1M'][i]
    before_str=str(before)
    key_date.append(before_str[:10])
    before_str[-10]
key_date

In [ ]:
len(key_date)

### 이전 날짜를 이용해 1 달 전 call금리를 가져온다.

In [ ]:
ago_call_list=[]

try:
    for i in range(len(cal)):
    
        before=df2.loc[key_date[i]]
        b=float(before.iloc[0][0])
        ago_call_list.append(b)
        
        #print(q)
except:
    pass
ago_call_list

In [ ]:
len(ago_call_list)

In [ ]:
len(cal)

### 둘이 길이 맞아야 함. cal, ago_Call_list

In [ ]:
#len(ago_call_list) 
for i in range(0,31): 
    ago_call_list.append('0')

print(len(ago_call_list))

In [ ]:
len(num_list)

In [ ]:
date_list[20:]

In [ ]:
num_list[20:]

### df3: date 와 1 달 전 콜금리 저장

In [ ]:
df3=pd.DataFrame()
df3['date']=cal
df3['1달 전 콜금리']=ago_call_list
df3['date']=pd.to_datetime(df3['date'])
df3

### df4 : merge   df2, df3

In [ ]:
df4=pd.merge(df2,df3,how='outer',on='date')

df4=df4.fillna(method='ffill')
if df4.isnull().values.any():
    df4=df4.fillna(method='bfill')

df4

### 상승/하락 정하기

In [ ]:
len(ago_call_list)

### 현재 날짜 가져오기.

In [ ]:
current_date=df2.index
current_date_list=[]

for i in range(len(cal)):
    c_date=current_date[i]
    str_c=str(c_date)
    current_date_list.append(str_c[:10])
current_date_list

### 현재 날짜로 현재 콜금리 해서

In [ ]:
now_call_list=[]
try:
    for i in range(len(cal)):
    
        now_call=df2.loc[current_date_list[i]]
        n=float(now_call.iloc[0][0])
        now_call_list.append(n)
        
        #print(q)
except:
    pass
now_call_list

In [ ]:
result=[]
value=0.0
label=[]


#def 콜금리계산():
for i in range(0,len(ago_call_list)):
    value=float(now_call_list[i])-float(ago_call_list[i])
    
    if value>0 :
        ap='+'+str(value)+'%'
        result.append(ap)
        label.append('1')
    elif value<0:
        ap='-'+str(value)+'%'
        result.append(ap)
        label.append('-1')
    else:
        result.append('0.00%')
        label.append('0')
    
result.append('0')
result

In [ ]:
label

In [ ]:
len(label)

In [ ]:
len(result)

In [ ]:
result[-10:]

In [ ]:
del result[-1]

In [ ]:
len(cal)

### 길이 맞추기.- result 와 cal 사이

for i in range(0,30):
    result.append('-')
print(len(result))
print(result)

for i in range(0,51):
    result.append('-')
print(len(result))
print(result)

### df5 : date  전달대비

In [ ]:
df5=pd.DataFrame()
df5['date']=cal
df5['전달대비']=result
df5['label']=label
df5

In [ ]:
df4

### df6 : df5, df4  Merge

In [ ]:
df6=pd.merge(df4,df5,how='outer',on='date')

df6=df6.fillna(method='ffill')
if df6.isnull().values.any():
    df6=df6.fillna(method='bfill')

df6=df6.set_index('date')
df6

### 파일에 저장

In [ ]:
df6.to_csv("C:\\Users\\Jungsk\\Downloads\\멀캠_혁신성장\\call_rate.csv",sep=' ')

In [ ]:
test_read=pd.read_csv("C:\\Users\\Jungsk\\Downloads\\멀캠_혁신성장\\call_rate.csv",sep=' ')
test_read