In [91]:
import pandas as pd
df = pd.read_csv("06_updown_count_last_2.csv",encoding = 'utf-8')

In [92]:
df.head()

  Unnamed: 0    ngram   up_count  down_count
0       하/VV  4223780  2020531.0   2203249.0
1      하/XSV  1928663   926450.0   1002213.0
2     금리/NNG  1700126   824828.0    875298.0
3       되/VV  1661033   810163.0    850870.0
4       보/VV   828869   400503.0    428366.0

In [93]:
# 컬럼 이름 변경 
df = df.rename(columns = {df.columns[0]:'ngram',
                          df.columns[1]:'total_count',
                          df.columns[2]:'up_count',
                          df.columns[3]:'down_count'})

In [94]:
df.tail()

                        ngram  total_count  up_count  down_count
54747                생로병사/NNG           15      11.0         4.0
54748           하락/NNG;거품/NNG           15       7.0         8.0
54749                  화승/NNG           15      12.0         3.0
54750    명목/NNG;임금/NNG;상승/NNG           15       8.0         7.0
54751  국고채/NNG;장기물/NNG;약세/NNG           15       4.0        11.0

    pos_total = 0
    for i in range(len(df)):
        if df['ngram_up'][i] is not None:
            pos_total += df['ngram_up'][i]
        else:
            pass
############## Nan때문에 연산이 안됨

    new_df = df.fillna(value = 0) #nan을 0으로 만들고 새로운 변수에 저장

In [95]:
new_df = df.fillna(value = 0)

In [96]:
new_df.head()

    ngram  total_count   up_count  down_count
0    하/VV      4223780  2020531.0   2203249.0
1   하/XSV      1928663   926450.0   1002213.0
2  금리/NNG      1700126   824828.0    875298.0
3    되/VV      1661033   810163.0    850870.0
4    보/VV       828869   400503.0    428366.0

In [97]:
#postive 총 합 연산
pos_total = 0
for i in range(len(new_df)):
    pos_total += new_df['up_count'][i]

In [98]:
pos_total

40754938.0

In [99]:
#negative 총 합 연산
neg_total = 0
for i in range(len(new_df)):
    neg_total += new_df['down_count'][i]

In [100]:
neg_total

43858889.0

## 극성 스코어 구하기

In [101]:
polar = (new_df['up_count'][0]/pos_total)/(new_df['down_count'][0]/neg_total) #이런식으로
polar

0.9869140364323843

In [102]:
polar_list = []
for i in range(len(new_df)):
    polar_list.append((new_df['up_count'][i]/pos_total)/(new_df['down_count'][i]/neg_total))

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [103]:
new_df['polar_score'] = polar_list
new_df.head()

    ngram  total_count   up_count  down_count  polar_score
0    하/VV      4223780  2020531.0   2203249.0     0.986914
1   하/XSV      1928663   926450.0   1002213.0     0.994808
2  금리/NNG      1700126   824828.0    875298.0     1.014109
3    되/VV      1661033   810163.0    850870.0     1.024676
4    보/VV       828869   400503.0    428366.0     1.006163

In [104]:
#1.3 ~ 0.76사이는 중립 
#1.3이 넘으면 긍정
#0.76미만은 부정

In [105]:
POSorNEG=[]
for i in range(len(polar_list)):
    if polar_list[i] >1.3:
        POSorNEG.append('Hawkish')
    elif polar_list[i] <0.76:
        POSorNEG.append('Dovish')
    else:
        POSorNEG.append('nothing')

In [106]:
new_df['polarity']= POSorNEG

In [107]:
new_df.head()

    ngram  total_count   up_count  down_count  polar_score polarity
0    하/VV      4223780  2020531.0   2203249.0     0.986914  nothing
1   하/XSV      1928663   926450.0   1002213.0     0.994808  nothing
2  금리/NNG      1700126   824828.0    875298.0     1.014109  nothing
3    되/VV      1661033   810163.0    850870.0     1.024676  nothing
4    보/VV       828869   400503.0    428366.0     1.006163  nothing

In [108]:
new_df.tail()

,ngram,total_count,up_count,down_count,polar_score,polarity
54747,생로병사/NNG,15,11.0,4.0,2.959444,Hawkish
54748,하락/NNG;거품/NNG,15,7.0,8.0,0.941641,nothing
54749,화승/NNG,15,12.0,3.0,4.304645,Hawkish
54750,명목/NNG;임금/NNG;상승/NNG,15,8.0,7.0,1.229899,nothing
54751,국고채/NNG;장기물/NNG;약세/NNG,15,4.0,11.0,0.391331,Dovish

In [109]:
#positive만 추리기
pos_df = new_df[new_df['polarity']=='Hawkish']

In [110]:
#negative만 추리기
neg_df = new_df[new_df['polarity']=='Dovish']

In [111]:
neg_df.to_csv("07_total_dict_neg_2.csv",encoding = 'utf-8')

In [112]:
pos_df.to_csv("07_total_dict_pos_2.csv",encoding = 'utf-8')

In [113]:
pos_df.head()

         ngram  total_count  up_count  down_count  polar_score polarity
15      인상/NNG       460593  258982.0    201611.0     1.382397  Hawkish
84   인플레이션/NNG       143338   78757.0     64581.0     1.312387  Hawkish
289      콜/NNG        51010   32331.0     18679.0     1.862700  Hawkish
346     긴축/NNG        41373   25307.0     16066.0     1.695158  Hawkish
418    증가율/NNG        33963   18664.0     15299.0     1.312862  Hawkish

In [114]:
len(pos_df)

14897

In [115]:
neg_df.head()

        ngram  total_count  up_count  down_count  polar_score polarity
27     인하/NNG       273427   99587.0    173840.0     0.616496   Dovish
234  양적완화/NNG        61401   25143.0     36258.0     0.746261   Dovish
315    대책/NNG        47926   19477.0     28449.0     0.736771   Dovish
331  금융위기/NNG        43784   16880.0     26904.0     0.675201   Dovish
393    부양/NNG        36935   15021.0     21914.0     0.737657   Dovish

In [116]:
len(neg_df)

15941